* {
  box-sizing: border-box;
  margin: 0;
}

form{
  background-color: rgba(42, 55, 231, 0.771);
  border-radius: 5px;
  width: 500px;
  height: 350px;
  padding: 40px;

}

input{
  margin:5px ;
  padding: 10px;
  width: 250px;
}

.header {
  background-color:rgba(216, 220, 224, 0.929);
  text-align: lift;
  color: rgb(13, 91, 180);
  font-style: type new roman;
  padding: 30px;
  /* height: 10px; */
  margin: 0px;
}

.aside {
  background-color: #000000;
}

.aside ul {
  padding: 5px;
  margin: 0px;
  display: flex;
  gap: 40px;
}

.aside a {
  text-decoration: none;
  color: white;
}

.aside {
  grid-column: col-start 2 /span 3;
  grid-row: span 3/4;
  background-color: rgba(26, 7, 102, 0.829);
}

footer{
  background-color: #3b7fe0;
}



p1 {
  text-align: right;
  margin: 10px;
  color: #000000;

}

p2 {
  text-align: center;
  margin: 10px;
}