* {
  box-sizing: border-box;
  margin: 0;
}

form{
  background-color: rgba(114, 131, 216, 0.673);
  border-radius: 5px;
  width: 500px;
  height: 350px;
  padding: 40px;
  display:inline-block ;
}

input{
  margin:5px ;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.header {
  background-color:rgba(216, 220, 224, 0.929);
  text-align: lift;
  color: rgb(13, 91, 180);
  font-style: type new roman;
  padding: 30px;
  /* height: 10px; */
  margin: 0px;
}

.aside {
      grid-template-columns:3fr 4fr ;
      display: inline-grid;
      background-color: aqua;
        width: 200px;
        height: 500;
      }
.container ul {
  padding: 10px;
  margin: 0px;
  display: inline-grid;
  gap:10px;
}

.footer{
  background-color: #3b7fe0;
}
main{
  margin: 80px;
}


p1 {
  text-align: right;
  margin: 10px;
  color: #000000;

}

p2 {
  text-align: center;
  margin: 10px;
}